<br>
<table>
  <tr>
    <td>Class</td>
    <td><%= @batch.name %></td>
  </tr>
  <tr>
    <td>Subject</td>
    <td><%= @subject.subject %></td>
  </tr>
</table>
<br>
Add Chapter
<br><br>
<%= render "form" %>
